*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Arial;

}

main{
    background-color:whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}


#heading{
background-color:gray;
height: 100px;
}

#heading div {
    float:left;
    padding-left:70px;
    padding-top: 15px;
}


#heading ul li{
    display: inline-block;
    padding-top: 40px;
    padding-left: 5%;
    margin-left:5% ;
    
}


nav ul li a {
    text-decoration: none;
    font-weight: 900;
    color: white;
}

#bigimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    
}

#medimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}


#medimg img {
    padding: 15px;

}
 
#passage{
    background-color: white;
    height: 350px;
    width:460px;
    overflow: scroll;
    position: relative;
    left: 20%;
    text-align: left;
}



#textimg{
    float: left;
    position: relative;
    left:18%;
    margin-bottom: 30px;
}    

#supfooter{
    position: relative;
    margin-top: 10px;
    margin-bottom: 60px;
}

#supfooter div h3 {
    font-weight: 600;
}

#supfooter div h4 {
    background-color: gray;
    border-radius: 10px;
    display: inline;
    padding: 5px 5px 5px 5px;
    border: black 1px solid;
    position:absolute;
    right: 40%;
}

#supfooter div h4:hover{
    background-color: rgb(192, 247, 92);
}

footer{
    background-color: gray;
    height: 100px;
}